<launch>
  <!-- Argument for TurtleBot3 Model -->
  <arg name="model" default="burger"/>
  
  <!-- Set environment variable for TurtleBot3 Model -->
  <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>
  
  <!-- Include TurtleBot3 Gazebo launch file -->
  <!-- <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
  </include> -->

  <!-- Include gmapping launch file with customised rvis configuration -->
  <include file="$(find explorer_turtlebot3)/launch/my_turtlebot3_slam.launch">
    <arg name="slam_methods" value="gmapping"/>
  </include>

  <!-- Include move_base launch file -->
  <include file="$(find explorer_turtlebot3)/launch/my_move_base.launch">
  </include>

  <!-- Create my custom exploration file -->
  <node name="explorer_turtlebot3" pkg="explorer_turtlebot3" type="my_explorer.py" output="screen"/>

</launch>

